<%- include partials/header.ejs %>

<h1></h1>

<h3>Developers</h3>

<div class="row">
	<% for (var i in developers) { %>
		<div class="col-sm-6 col-sm-4">
			<h3><%=developers[i].id%></h3>
			<p><%=developers[i].name%></p>
		</div>
	<% } %>
</div>

<%- include partials/footer.ejs %>