<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>기부 테이블</h2>
  <table class="table">
    <thead>
      <tr>
        <th>nickName</th>
        <th>userName</th>
        <th>address</th>
        <th>donated Amount</th>
      </tr>
    </thead>
    <tbody>
      <%for (var result in ranking){%>
        <tr>
                 <td><%=result.nickName%></td>
                 <td><%=result.userName%></td>
                 <td><%=result.address%></td>
                 <td><%=result.total_amount_received%></td>
          <%}%>
         </tr>
    </tbody>
    </table>
  </div>
  </body>
</html>
